<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout :: header"/>
</head>
<body>
<div id="container" style="margin: 0px auto; width: 760px;">

    <div th:replace="layout :: nav"/>

    <div id="box">
        <div id="content">
            <div class="overflow">
                <div id="textpadding">
                    <h2>Risk - Game Play</h2>
                    <!--<div class="sticky">-->
                    <!--<i class="fa fa-info-circle" aria-hidden="true"></i> <b>About</b>-->
                    <!--</div>-->
                    <br/>
                    <form th:action="@{/EditMapUpdate}" method="get">
                        <table class="left-table">
                            <tr>
                                
                                <th>Continents</th>  
                            </tr>
                            <th:block th:each="continent : ${Continent}">
                            <tr >
                                <td>
                                <input type="text" th:value="${continent}"  th:name="${continent}"/>
                                </td> 
                            </tr>
                            </th:block>
                            
                           <tr>
   
                            </tr>
                        </table>
                        <table class="right-table">
                            <tr>
                                
                                <th>Countries</th>
                                
                            </tr>
                            <th:block th:each="country : ${Country}">
                            <tr >
                                <td>
                                <input type="text" th:value="${country}"  th:name="${country}"/>
                                </td> 
                            </tr>
                            </th:block>
                           <tr>
                               <td><input type="text" th:value="${Filename}" th:name="Filename" id="filename"/></td>
                                <td><input type="submit" name="submit" value="Update"/></td>
                            </tr>
                        </table>
                    </form>
                </div>


            </div>
        </div>
    </div>

    <div th:replace="layout :: footer"/>
</div>
<th:block layout:fragment="script">
	<script>
		/*<![CDATA[*/
			$('input[type=text]').on('change', function(e){
			e.preventDefault();
			
			var name = $(this).attr("name");
			var value= $(this).val();
			var filename = $('#filename').val();
			alert(name);
			alert(value);
			$.ajax({
				url : '/EditMapUpdate',
				method : 'POST',
				data : "Filename="+filename+"&name="+name+"&value="+value,
				success : function() {
					alert("VERY TRUE");
				}
			});	
			});
			/*]]>*/
		</script>
</th:block>

</body>
</html>