<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:fragment="header">
        <title>Risk | SOEN 6441</title>
        <meta name="description" content="">
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>


        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
              integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
              crossorigin="anonymous">
        <link th:href="@{css/jquery-ui.min.css}" rel="stylesheet">
        <link th:href="@{css/style.css}" rel="stylesheet">

        <script th:src="@{js/jquery.js}"></script>
        <script th:src="@{js/jquery-ui.min.js}"></script>
    </div>
</head>

<body>
<div th:fragment="nav">

    <div id="header" style="background-image: url('/img/header.jpg');">
    </div>

    <div id="menu">
        <a title="home" th:href="@{/}">home</a>&nbsp;&nbsp; |&nbsp;&nbsp;
        <a title="new map" th:href="@{/create01}">new map</a>&nbsp;&nbsp; |&nbsp;&nbsp;
        <a title="edit map" th:href="@{/edit00}">edit map</a>&nbsp;&nbsp; |&nbsp;&nbsp;
        <a title="end game" th:href="@{/endGame}">end game</a>
    </div>

</div>

<div th:fragment="footer">
    <script th:src="@{js/application.js}"></script>
    <div id="footer">All rights reserved. copyrights &copy; 2018.</div>
</div>

<div th:fragment="phaseView">
    <div>
        <ul>
            <li th:each="actionItem : ${phaseView.actions}" th:text="${actionItem}"></li>
        </ul>
    </div>
</div>

<div th:fragment="dominationView">
    <fieldset>
        <legend>Domination view</legend>
        <table id="dominationView">
            <tr>
                <th><i class="fas fa-user"></i> Player</th>
                <th><i class="fas fa-globe-americas"></i> Countries</th>
                <th>Army</th>
                <th><i class="fas fa-percent"></i> Share</th>
            </tr>
            <tr th:each="player : ${dominationView.playersInfo}">
                <td th:text="${player.key}"></td>
                <td>
                    <span th:each="country : ${player.value.countries}">
                        <span th:text="${country.key}"></span> &ensp; <span th:text="${country.value}"></span><br/>
                    </span>
                </td>
                <td th:text="${player.value.totalArmyCount}"></td>
                <td th:text="${player.value.share}"></td>
            </tr>
        </table>
    </fieldset>
</div>

<div th:fragment="cardExchangeView">
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <p>Select cards for exchange</p>
            </div>
            <form method="get" th:action="@{/cardExchange}" id="exchangeForm">
                <div class="modal-body">
                    <div th:each="cards : ${cardExchangeView.cards}">
                        <select th:if="${phaseView.playerName} == ${cards.key}" id="cards" multiple>
                            <option th:each="card : ${cards.value}" th:text="${card}" th:value="${card}"></option>
                        </select>
                        <input type="hidden" name="cards" id="cardString" value="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="exchangeButton">Exchange</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>