<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:fragment="header">
        <title>Risk | SOEN 6441</title>
        <meta name="description" content="">
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>


        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
              integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
              crossorigin="anonymous">
        <link th:href="@{css/jquery-ui.min.css}" rel="stylesheet">
        <link th:href="@{css/style.css}" rel="stylesheet">

        <script th:src="@{js/jquery.js}"></script>
        <script th:src="@{js/jquery-ui.min.js}"></script>
    </div>
</head>

<body>
<div th:fragment="nav">

    <div id="header" style="background-image: url('/img/header.jpg');">

    </div>

    <div id="menu">
        <a title="home" th:href="@{/}">home</a>&nbsp;&nbsp; |&nbsp;&nbsp;
        <a title="new map" th:href="@{/create01}">new map</a>&nbsp;&nbsp; |&nbsp;&nbsp;
        <a title="edit map" th:href="@{/edit00}">edit map</a>
    </div>

</div>

<div th:fragment="footer">
    <script th:src="@{js/application.js}"></script>
    <div id="footer">All rights reserved. copyrights &copy; 2018.</div>
</div>

<div th:fragment="phaseView">
    <div>
        <ul>
            <li th:each="actionItem : ${phaseView.action}" th:text="${actionItem}"></li>
        </ul>
    </div>
</div>

<div th:fragment="dominationView">
    <fieldset>
        <legend>Domination view</legend>
        <table id="dominationView">
            <tr>
                <th><i class="fas fa-user"></i> Player</th>
                <th><i class="fas fa-globe-americas"></i> Countries</th>
                <th>Army</th>
                <th><i class="fas fa-percent"></i> Share</th>
            </tr>
            <tr th:each="player : ${dominationView.playerInfo}">
                <td th:text="${player.key}"></td>
                <td th:utext="${player.value[1]}"></td>
                <td th:text="${player.value[0]}"></td>
                <td th:text="${player.value[3]}"></td>
            </tr>
        </table>
    </fieldset>
</div>

<div th:fragment="cardExchangeView">

</div>

</body>
</html>