<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout :: header"/>
</head>
<body>
<div id="container" style="margin: 0px auto; width: 760px;">

    <div th:replace="layout :: nav"/>

    <div id="box">
        <div id="content">
            <div class="overflow">
                <div id="textpadding">
                    <h2>Risk - Game Play</h2>
                    
                    <br/>
                    <form th:action="@{/load00}" method="get">
                        <table>
                            <tr>
                                <td>Enter File Name to load</td>
                                <td><input type="text" name="savedFileName"/></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" name="submit" value="Submit"></td>
                            </tr>
                        </table>
                    </form>
                </div>


            </div>
        </div>
    </div>

    <div th:replace="layout :: footer"/>
</div>

</body>
</html>